<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= docTitle
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body
        header(class="main-header")
            section.main-header__container
                div.main-header__logo
                    a(href="#") MYTIENDA
                block navigation
        block content