extends layouts/main-layout

block styles
    link(rel="stylesheet", href="/css/form.css")
    link(rel="stylesheet", href="/css/product.css")

block navigation
    nav.main-header__nav
        a(href="/") Tienda
        a.active(href="/admin/add-product") Agregar producto

block content
    main
        form.product-form.section-spacing(action="/admin/add-product", method="POST")
            div.form-control
                label(for="title") Nombre producto
                input(type="text", name="titulo")#title
            button.btn(type="submit") Agregar producto