<main>
    {{#if hasProducts}}
        <h1 class="align-center section-spacing">Nuestros productos</h1>
        <div class="grid">
            {{#each prods}}
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">{{ this.titulo }}</h1>
                    </header>
                    <div class="card__image">
                        <img src="https://escuela-emprendedores.alegra.com/wp-content/uploads/2018/03/temporadas-especiales-para-vender-mas-1.jpg"
                            alt="{{ this.titulo }}">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$3000</h2>
                        <p class="product__description">
                            Esta es la descripcion exacta de este producto en mas de 2 lineas para ver como se ve en el html.
                        </p>
                    </div>
                    <div class="card__actions">
                        <button class="btn">Add al carro</button>
                    </div>
                </article>
            {{/each}}
        </div>
    {{else}}
        <h2 class="align-center section-spacing">No hay productos en la tienda.</h2>
    {{/if}}
</main>