<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda online - Node JS</title>
    <link rel="icon" href="data:,"> <!-- quitar el favicon.ico request -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <section class="main-header__container">
            <div class="main-header__logo">
                <a href="#">PERROSHOP</a>
            </div>
            <nav class="main-header__nav">
                <a href="/" class="active">Tienda</a>
                <a href="/admin/add-product">Agregar producto</a>
            </nav>
    </section>
    </header>
    <main>
        <h1>Nuestros productos</h1>
    </main>
</body>
</html>